
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    color: coral;
}
.Ritesh_name{
    color: rgb(4, 68, 77);
}